html {
    height: 100%;
}

:root {
    --brown: #927d43 !important;
    --black: #121022 !important;
}

body {
    background: url('/media/background-flowers_optimized.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #121023bf;
    font-family: 'Montserrat', 'sans-serif';
}

/* to avoid sudden layout shifts 
    to improve user-experience 
    https://web.dev/optimize-cls/?utm_source=lighthouse&utm_medium=devtools#images-without-dimensions */
img {
    height: auto;
    width: 100%;
}

/* ------------------------------- Colours */

.text-black {
    color: #121022 !important;
}

.text-black75 {
    color: #121023c0 !important;
}

.border-black {
    border: 1px solid #121022 !important;
}

.bg-black {
    background-color: #121022 !important;
}

.text-beige {
    color: #d0b360 !important;
}

.bg-beige {
    background-color: #d0b360 !important;
}

.text-brown {
    color: #927d43 !important;
}

.border-brown {
    border: 1px solid #927d43 !important;
}

.bg-brown {
    background-color: #927d43 !important;
}

.text-purple {
    color: #8862d0 !important;
}

.text-darker-purple {
    color: #544a92 !important;
}

.text-light-purple {
    color: #e4e0ff !important;
}

.text-link {
    text-decoration: none;
    color: #121022;
}

.text-link:hover {
    color: #121022;
}

.bg-header {
    background-color: #e4e0ff !important;
}

#delivery-banner {
    background-color: #544a92 !important;
    color: #e4e0ff !important;
    font-weight: 700 !important;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #d0b360;
    color: #121022;
    min-width: 260px;
}

.btn-black {
    background: #121022;
    color: #e4e0ff;
}

.btn-outline-black {
    background-color: #e4e0ff;
    color: var(--black) !important;
    /* use important to override colours for <a> elements */
    border: 1px solid var(--black) !important;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #d0b360;
    color: var(--black) !important;
    border: 1px solid #d0b360 !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #121022;
    color: #e4e0ff;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #d0b360;
    color: #121022;
    border: 1px solid #d0b360 !important;
}

.fa-hands {
    color: #927d43;
}

.nav-item a:hover {
    color: #927d43 !important;
}

.dropdown-menu {
    background-color: #e4e0ff;
}

.dropdown-menu a:hover {
    background-color: #d0b36292;
    color: #121022 !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #e4e0ff;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #d0b360 !important;
    color: #121022 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* header>input[type="text"]:hover {
    background: #d0b360 !important;
} */

/* ---------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        /* remember => position: inherit; pushes messages and page_header down*/
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* adjust text size in smaller screens */
@media (min-width: 1250px) {
    header h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1250px) {
    header h2 {
        font-size: 1.1rem;
    }

    #main-nav a,
    #delivery-banner p {
        font-size: smaller;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .navbar,
    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler i {
        padding: .2rem .2rem;
        font-size: 1.4rem;
        color: #d0b360 !important;
    }

    #delivery-banner p {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}