html {
    height: 100%;
}

:root {
    --brown: #927d43 !important;
    --black: #121022 !important;
}

body {
    background: url('/media/background-flowers_optimized.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #121023bf;
    font-family: 'Montserrat', 'sans-serif';
}

.wrapper {
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

section {
    padding-block: 5rem;
}

.wavy {
    /* mask created with 
    https://css-generators.com/wavy-shapes/ */

    background:
        linear-gradient(to right,
            #d0b360,
            #544a92);

    --mask:
        radial-gradient(55.90px at 50% 75.00px, #000 99%, #0000 101%) calc(50% - 50px) 0/100px 100%,
        radial-gradient(55.90px at 50% -50px, #0000 99%, #000 101%) 50% 25px/100px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

}

/* ------------------------------- Colours */

.text-black {
    color: #121022 !important;
}

.text-black75 {
    color: #121023c0 !important;
}

.border-black {
    border: 1px solid #121022 !important;
}

.bg-black {
    background-color: #121022 !important;
}

.text-beige {
    color: #d0b360 !important;
}

.bg-beige {
    background-color: #d0b360 !important;
}

.text-brown {
    color: #927d43 !important;
}

.border-brown {
    border: 1px solid #927d43 !important;
}

.bg-brown {
    background-color: #927d43 !important;
}

.text-purple {
    color: #8862d0 !important;
}

.text-darker-purple {
    color: #544a92 !important;
}

.text-light-purple {
    color: #e4e0ff !important;
}

.text-link {
    text-decoration: none;
    color: #121022;
}

.text-link:hover {
    color: #121022;
}

.bg-header {
    background-color: #e4e0ff !important;
}

#delivery-banner {
    background-color: #544a92 !important;
    color: #e4e0ff !important;
    font-weight: 700 !important;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #d0b360;
    color: #121022;
    min-width: 260px;
}

.btn-black {
    background: #121022;
    color: #e4e0ff;
}

#mc_embed_signup .button {
    background: #121022;
    color: #d0b360;
    border: 1px solid #121022 !important;
}

#mc_embed_signup .button:hover {
    background: #d0b360;
    color: #121022;
    border: 1px solid #d0b360 !important;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #d0b360;
    color: #121022;
    border: 1px solid #d0b360 !important;
}

.btn-outline-black {
    background-color: #e4e0ff;
    color: var(--black) !important;
    /* use important to override colours for <a> elements */
    border: 1px solid var(--black) !important;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #d0b360;
    color: var(--black) !important;
    border: 1px solid #d0b360 !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #121022;
    color: #e4e0ff;
}

.btn-quantity-black {
    background-color: var(--black);
    color: #e4e0ff;
}

.btn-quantity-black:hover,
.btn-quantity-black:active,
.bth-quantity-black:focus {
    background-color: var(--black);
    color: #e4e0ff;
}

.fa-hands {
    color: #927d43;
}

.nav-item a:hover {
    color: #927d43 !important;
}

.dropdown-menu {
    background-color: #e4e0ff;
}

.dropdown-menu a:hover {
    background-color: #d0b36292;
    color: #121022 !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #e4e0ff;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #d0b360 !important;
    color: #121022 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #121022;
}

input[name='q']:focus {
    background-color: white !important;
}

.card-comment {
    border: none;
    background-color: transparent;
}

.page-link {
    color: #121022;
}

.page-link:hover {
    color: #121022;
    background-color: #d0b360;
}

.page-active {
    background-color: #544a92 !important;
    border-color: #544a92 !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    height: 2px;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid var(--black);
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #121022 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Mailchimp newsletter Form*/

#mc_embed_signup {
    background: transparent;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    max-width: 600px;
}

/* Footer */
footer {
    background: #121022;
}

footer,
footer a,
footer i {
    text-align: center;
    color: #d0b360
}

footer a:hover {
    text-decoration: underline;
    color: #e4e0ff !important;
}

footer i:hover {
    text-decoration: none;
    color: #e4e0ff !important;
}

footer i {
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    text-align: center;
    color: #e4e0ff;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #121022;
    border: 1px solid #121022;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;


    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #121022;
    border: 1px solid #d0b360 !important;
    background: #d0b360;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ---------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        /* remember => position: inherit; pushes messages and page_header down*/
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* adjust text size in smaller screens */
@media (min-width: 1250px) {
    header h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1250px) {
    header h2 {
        font-size: 1.1rem;
    }

    #main-nav a,
    #delivery-banner p {
        font-size: smaller;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .navbar,
    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler i {
        padding: .2rem .2rem;
        font-size: 1.4rem;
        color: #d0b360 !important;
    }

    #delivery-banner p {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}