{% load static %}
  <!-- Begin Mailchimp Signup Form -->
  <section class="wavy mt-5 pb-3">
    <div class="wrapper" id="mc_embed_signup">
       <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=a98d81c1547b00c42d836d650&amp;id=59408bf224&amp;f_id=007c88e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>Subscribe to Our Newsletter</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
          </div>
          <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a98d81c1547b00c42d836d650_59408bf224" tabindex="-1" value=""></div>
          <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/iml5Mg" title="Mailchimp - email marketing made easy and fun" target="_blank" rel="noopener"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="mailchimp logo"></a></p>
            </div>
          </div>
          </div>
        </form>
      </div>
  </section>
<script 
        src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
</script>
<script>
  (function($) {
        window.fnames = new Array(); 
        window.ftypes = new Array();
        fnames[0]='EMAIL';
        ftypes[0]='email';
        fnames[1]='FNAME';
        ftypes[1]='text';
        fnames[2]='LNAME';
        ftypes[2]='text';
        fnames[3]='ADDRESS';
        ftypes[3]='address';
        fnames[4]='PHONE';
        ftypes[4]='phone';
        fnames[5]='BIRTHDAY';
        ftypes[5]='birthday';
  }(jQuery));
  var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->

<footer class="container-fluid pt-4">
    <div class="row" id="footer-details" >
    <div class="col-sm-4 order-3">
      <span class="text-uppercase">Extras</span>
      <ul class="list-unstyled mt-2">
        <li>
          <a href="{% url 'home:about_view' %}">about</a>
        </li>
        <li>
          <a href="{% url 'home:contact_view' %}">contact us</a>
        </li>
        <li>
          <a href="{% url 'home:faq_view' %}">FAQs</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <span class="text-uppercase">Menu</span>
      <div class="menus">
        <ul class="list-unstyled mt-2">
          {% if request.user.is_authenticated %} 
          <li>
            <a href="{% url 'home:index' %}">home</a>
          </li>
          <li>
            <a href="{% url 'profiles:profile' %}">profile</a>
          </li>
          <li>
            <a href="{% url 'products:product_list' %}">products</a>
          </li>
          <li>
            <a href="{% url 'profiles:wish_list' %}">wishlist</a>
          </li>
          <li>
            <a href="{% url 'blog:post_list' %}">blog</a>
          </li>
          <li>
            <a href="{% url 'account_logout' %}">log out</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'home:index' %}">home</a>
          </li>
          <li>
            <a href="{% url 'account_login' %}">sign in</a>
          </li>
          <li>
            <a href="{% url 'account_signup' %}">sign up</a>
          </li> 
          <li>
            <a href="{% url 'products:product_list' %}">products</a>
          </li>
          <li>
            <a href="{% url 'blog:post_list' %}">blog</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col-sm-4 order-1">
      <span class="text-uppercase">Social</span>
      <ul class="list-inline social-links mt-2">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/profile.php?id=100091150564529" target="_blank" aria-label="Visit our facebook page (opens in a new tab)">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            <span class="sr-only">Facebook</span>
          </a>
        </li>
        <li class="list-inline-item social-links">
          <a href="https://www.linkedin.com/in/josem-guerra/" target="_blank" rel="noopener" aria-label="Visit my linkedin page (opens in a new tab)">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="inline-block m-0">
      Powered by: 
      <i class="fa-brands fa-cc-stripe fs-3"></i>
  </p>
  <p class="inline-block">
        <small> Developed by <a href="https://github.com/JoseMGuerra/hand-crafted-paper-e-commerce" target="_blank" rel="noopener" aria-label="Find me on Github (link opens in a new tab)">Jose Guerra <i class="fa-brands fa-github"></i></a> for educational purposes only</small>
  </p>
</footer>
