<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home:index' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products:product_list' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products:product_list' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products:product_list' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products:product_list' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shadow-box-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shadow Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shadow-box-link">
                <a href="{% url 'products:product_list' %}?category=full_flower_box" class="dropdown-item">Full Flower Box</a>
                <a href="{% url 'products:product_list' %}?category=heart_flower_box" class="dropdown-item">Heart Flower Box</a>
                <a href="{% url 'products:product_list' %}?category=animal_flower_box" class="dropdown-item">Animal Flower Box</a>
                <a href="{% url 'products:product_list' %}?category=initial_number_flower_box" class="dropdown-item">Initials & Numbers Flower Box</a>
                <a href="{% url 'products:product_list' %}?category=full_flower_box,heart_flower_box,initial_number_flower_box,animal_flower_box" class="dropdown-item">All Shadow Boxes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#cake-topper" id="cake-topper-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cake Toppers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cake-topper-link">
                <a href="{% url 'products:product_list' %}?category=birthday_cake_topper" class="dropdown-item">Birthday Cake Topper</a>
                <a href="{% url 'products:product_list' %}?category=anniversary_cake_topper" class="dropdown-item">Anniversary Cake Topper</a>
                <a href="{% url 'products:product_list' %}?category=wedding_cake_topper" class="dropdown-item">Wedding Cake Topper</a>
                <a href="{% url 'products:product_list' %}?category=birthday_cake_topper,anniversary_cake_topper,wedding_cake_topper" class="dropdown-item">All Cake Toppers</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog:post_list' %}" id="blog-link" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products:product_list' %}?category=new_products" class="dropdown-item">New Products</a>
                <a href="{% url 'products:product_list' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products:product_list' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products:product_list' %}?category=new_products,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home:contact_view' %}" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'home:about_view' %}" id="about-link" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>
    </ul>
</div>