<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home:index' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item">By Rating</a>
                <a href="#" class="dropdown-item">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div>
        </li>
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home:index' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item">By Rating</a>
                <a href="#" class="dropdown-item">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shadow-box-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shadow Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shadow-box-link">
                <a href="#" class="dropdown-item">Full Flower Box</a>
                <a href="#" class="dropdown-item">Heart Flower Box</a>
                <a href="#" class="dropdown-item">Animal Flower Box</a>
                <a href="#" class="dropdown-item">Initials & Numbers Flower Box</a>
                <a href="#" class="dropdown-item">All Shadow Boxes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#cards" id="card-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="card-link">
                <a href="#" class="dropdown-item">Christening Card</a>
                <a href="#" class="dropdown-item">Communion Card</a>
                <a href="#" class="dropdown-item">All Cards</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#cake-topper" id="cake-topper-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cake Toppers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cake-topper-link">
                <a href="#" class="dropdown-item">Birthday Cake Topper</a>
                <a href="#" class="dropdown-item">Anniversary Cake Topper</a>
                <a href="#" class="dropdown-item">All Cake Toppers</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#blog" id="blog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blog-link">
                <a href="#" class="dropdown-item">Featured Articles</a>
                <a href="#" class="dropdown-item">Latest Articles</a>
                <a href="#" class="dropdown-item">All Articles</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item">New Products</a>
                <a href="#" class="dropdown-item">Deals</a>
                <a href="#" class="dropdown-item">Clearance</a>
                <a href="#" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#contact" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#about" id="about-link" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>
    </ul>
</div>